{% extends 'base.html' %}

{% load staticfiles %}

{% block head_block %}

<link href="http://static.xiachufang.com/css/2013/base.d706c3c6.compress.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %}账号绑定{% endblock %}

{% block body_block %}

<div class="content-wrapper">
<div class="col-md-9">
    <div class="box box-solid">
        <div class="box-header">
            <h3 class="box-title">第三方账号</h3>
            <p><img src="{{account.avatar_url}}">{{ account.username}}</p>
        </div>
        <div class="box-body">
            <div>
                <p >
                    <img src="{% static 'pic/social/douban.png' %}">
                    <span class="pure-u-3-4" style="line-height:46px;">
                    {% if not account.bind_douban %}
                    <a class="btn " href="{% url 'login.douban'%}" role="button">绑定账号</a>
                    {% else %}
                    <span>豆瓣已绑定</span>
                    {% if safe %}
                    <a hclass="btn btn-lg btn-success" href="{% url 'account.cancel_douban' %}" role="button" 
                        onclick="return confirm('这是最后的账号，确定解绑并删除账号吗？');" >
                        取消绑定</a>
                    {% else %}
                    <a hclass="btn btn-lg btn-success" href="{% url 'account.cancel_douban' %}" role="button">取消绑定</a>
                    {% endif %}
                    {% endif %}
		    </p>
                </p>
            </div>
            <div>
                <p>
                    <img src="{% static 'pic/social/weibo.png' %}">
                    <span style="line-height:46px;">
                    {% if not account.bind_weibo%}
                    <a class="btn " href="{% url 'login.weibo'%}" role="button">绑定账号</a>
                    {% else %}
                    <span>微博已绑定</span>
                    {% if safe %}
                    <a hclass="btn btn-lg btn-success" href="{% url 'account.cancel_weibo' %}" role="button" 
                        onclick="return confirm('这是最后的账号，确定解绑并删除账号吗？');" >
                        取消绑定</a>
                    {% else %}
                    <a hclass="btn btn-lg btn-success" href="{% url 'account.cancel_weibo' %}" role="button">取消绑定</a>
                    {% endif %}
                    {% endif %}
		    </span>
                </p>
            </div>
            <div>
		<p>
                    <img src="{% static 'pic/social/qq.png' %}">
                    <span style="line-height:46px;">
                    {% if not account.bind_qq%}
                    <a class="btn " href="{% url 'login.qq'%}" role="button">绑定账号</a>
                    {% else %}
                    <span>QQ已绑定</span>
                    {% if safe %}
                    <a hclass="btn btn-lg btn-success" href="{% url 'account.cancel_qq' %}" role="button" 
                        onclick="return confirm('这是最后的账号，确定解绑并删除账号吗？');" >
                        取消绑定</a>
                    {% else %}
                    <a hclass="btn btn-lg btn-success" href="{% url 'account.cancel_qq' %}" role="button">取消绑定</a>
                    {% endif %}
                    {% endif %}
		    </span>
	       </p>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}
