{% extends 'base.html' %}

{% block head_block %}

<link href="http://static.xiachufang.com/css/2013/base.d706c3c6.compress.css" rel="stylesheet" type="text/css">
<link href="http://static.xiachufang.com/css/2013/other.0b3c792c.compress.css" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %}登陆DEMO{% endblock %}

{% block body_block %}

    <div class="jumbotron">
        <h2><?php echo $site_name; ?></h2>
        <p class="lead">{{page_title}}</p>
        <p><a class="btn btn-lg btn-success" href="{% url 'login.douban'%}" role="button">豆瓣账号登录</a></p>
        <p><a class="btn btn-lg btn-success" href="{% url 'login.weibo'%}" role="button">微博账号登录</a></p>
        <p><a class="btn btn-lg btn-success" href="{% url 'login.qq'%}" role="button">QQ账号登录</a></p>
    </div>



{% endblock %}
